Repository jesse3mh9a/resume: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint

.lintstagedrc.json:

{
  "*.md": "prettier --write",
  "*.js": ["eslint", "prettier --write"],
  "*.css": ["stylelint", "prettier --write"]
}

no-alert
  .eslintrc.json
Due: none

theme
  src/Edit/Drawer/colors.js
  src/Edit/Drawer/index.js
  src/Edit/Drawer/index.module.css
  src/Provider.js
  src/hooks/useSelectTheme.js
Due: prettier --write, eslint, stylelint

theme is optional
  src/Edit/Drawer/index.js
  src/Provider.js
  src/Templates/T2/config.js
  src/Templates/T2/index.js
  src/Templates/T2/index.module.css
  src/hooks/useSelectTheme.js
Due: prettier --write, eslint, stylelint

update
  src/Templates/T2/index.js
Due: prettier --write, eslint

improve drawer style
  src/Edit/Drawer/index.js
  src/Edit/Drawer/index.module.css
  src/Edit/index.js
  src/Edit/index.module.css
Due: prettier --write, eslint, stylelint

color picker
  src/Edit/Drawer/index.js
  src/Edit/Drawer/index.module.css
Due: prettier --write, eslint, stylelint

useTemplateTheme
  src/Edit/Drawer/index.js
  src/hooks/useTemplateTheme.js
Due: prettier --write, eslint

💅custom theme (#3)
  src/Edit/Drawer/colors.js
  src/Edit/Drawer/index.js
  src/Edit/Drawer/index.module.css
  src/Edit/index.js
  src/Edit/index.module.css
  src/Provider.js
  src/Templates/T2/config.js
  src/Templates/T2/index.js
  src/Templates/T2/index.module.css
  src/hooks/useTemplateTheme.js
Due: prettier --write, eslint, stylelint

fix:errors for returning undefined
  src/Edit/Drawer/index.js
Due: prettier --write, eslint

Create first resume
  src/Edit/AppBar/index.js
  src/Edit/AppBar/index.module.css
  src/Edit/Container.js
  src/Edit/Drawer/colors.js
  src/Edit/Drawer/index.js
  src/Edit/FullScreen/index.js
  src/Edit/FullScreen/index.module.css
  src/Edit/Nav/index.js
  src/Edit/Nav/index.module.css
  src/Edit/Preview/index.js
  src/Edit/Preview/index.module.css
  src/Edit/Provider.js
  src/Edit/index.js
  src/Edit/index.module.css
  src/Templates/T1/avatar-male.png
  src/Templates/T1/config.js
  src/Templates/T1/index.js
  src/Templates/T1/index.module.css
  src/components/Mm/index.js
  src/components/Mm/index.module.css
  src/demo.js
  src/icons/Address.js
  src/icons/Email.js
  src/icons/Phone.js
Due: prettier --write, eslint, stylelint

del test
  src/components/Mm/index.js
  src/components/Mm/index.module.css
Due: prettier --write, eslint, stylelint

✨Refactor layout, Create first resume (#4)
  src/Edit/AppBar/index.js
  src/Edit/AppBar/index.module.css
  src/Edit/Container.js
  src/Edit/Drawer/colors.js
  src/Edit/Drawer/index.js
  src/Edit/FullScreen/index.js
  src/Edit/FullScreen/index.module.css
  src/Edit/Nav/index.js
  src/Edit/Nav/index.module.css
  src/Edit/Preview/index.js
  src/Edit/Preview/index.module.css
  src/Edit/Provider.js
  src/Edit/index.js
  src/Edit/index.module.css
  src/Templates/T1/avatar-male.png
  src/Templates/T1/config.js
  src/Templates/T1/index.js
  src/Templates/T1/index.module.css
  src/demo.js
  src/icons/Address.js
  src/icons/Email.js
  src/icons/Phone.js
Due: prettier --write, eslint, stylelint

eslintrc-stage
  .eslintrc-stage.json
  .eslintrc.json
  .lintstagedrc.json
Due: none

FrontScale
  src/Edit/Container.js
  src/Edit/FullScreen/index.js
  src/Edit/Preview/index.js
  src/Edit/Provider.js
  src/Templates/T1/index.js
  src/Templates/T1/index.module.css
  src/components/FrontScale/index.js
  src/components/FrontScale/index.module.css
Due: prettier --write, eslint, stylelint

set Drawer font size
  src/Edit/Drawer/index.module.css
Due: prettier --write, stylelint

update
  src/components/FrontScale/index.js
Due: prettier --write, eslint

useFrontScale
  src/Edit/Container.js
  src/hooks/useFrontScale.js
Due: prettier --write, eslint

useFrontScale
  src/Edit/Container.js
  src/Edit/FullScreen/index.js
  src/Edit/Preview/index.js
Due: prettier --write, eslint

simulateA4
  src/Edit/Drawer/index.js
  src/Provider.js
  src/hooks/useFrontScale.js
Due: prettier --write, eslint

TOGGLE
  src/Edit/Drawer/index.js
  src/Provider.js
Due: prettier --write, eslint

Simulate A4 page printing view (#5)
  src/Edit/Drawer/index.js
  src/Edit/Drawer/index.module.css
  src/Edit/FullScreen/index.js
  src/Edit/Preview/index.js
  src/Edit/Provider.js
  src/Provider.js
  src/Templates/T1/index.js
  src/Templates/T1/index.module.css
  src/components/FrontScale/index.js
  src/components/FrontScale/index.module.css
  src/hooks/useFrontScale.js
Due: prettier --write, eslint, stylelint

delete resumeName
  src/Provider.js
Due: prettier --write, eslint

drawer style
  src/Edit/Drawer/index.js
  src/Edit/Drawer/index.module.css
  src/Templates/T1/avatar-female.png
  src/Templates/T1/config.js
  src/Templates/T1/index.js
  src/Templates/T1/index.module.css
  src/icons/Website.js
Due: prettier --write, eslint, stylelint

label
  src/Edit/Drawer/index.js
Due: prettier --write, eslint

update
  src/Templates/T1/index.js
Due: prettier --write, eslint

useCurTemplate
  src/hooks/useCurTemplate.js
Due: prettier --write, eslint

setCurrentTheme
  README.md
  src/Edit/Drawer/index.js
  src/Edit/Nav/index.js
  src/Edit/Nav/index.module.css
  src/Provider.js
  src/hooks/useConfigValueById.js
  src/hooks/useCurTemplate.js
  src/hooks/useTemplateTheme.js
  src/hooks/useTheme.js
Due: prettier --write, eslint, stylelint

Resume config (#6)
  README.md
  src/Edit/Drawer/index.js
  src/Edit/Drawer/index.module.css
  src/Edit/Nav/index.js
  src/Edit/Nav/index.module.css
  src/Provider.js
  src/Templates/T1/avatar-female.png
  src/Templates/T1/config.js
  src/Templates/T1/index.js
  src/Templates/T1/index.module.css
  src/hooks/useConfigValueById.js
  src/hooks/useTemplateTheme.js
  src/hooks/useTheme.js
  src/icons/Website.js
Due: prettier --write, eslint, stylelint

resumeConfig
  src/Edit/DataManage/index.js
  src/Provider.js
  src/Templates/T1/config.js
  src/hooks/useConfigValueById.js
  src/utils/resumeConfig.js
Due: prettier --write, eslint

update
  src/Edit/Drawer/index.js
  src/Provider.js
  src/Templates/T1/config.js
  src/Templates/T1/index.js
  src/hooks/useConfig.js
  src/utils/resumeConfig.js
Due: prettier --write, eslint

useConfig
  src/Edit/Drawer/index.js
  src/Templates/T1/index.js
  src/hooks/useConfig.js
  src/hooks/useConfigValueById.js
Due: prettier --write, eslint

update
  src/Templates/T1/config.js
  src/Templates/T1/index.js
  src/Templates/T1/index.module.css
  src/hooks/useConfig.js
Due: prettier --write, eslint, stylelint

update
  src/Edit/Drawer/index.js
  src/Templates/T1/config.js
  src/utils/resumeConfig.js
Due: prettier --write, eslint

update
  src/Edit/Drawer/index.js
Due: prettier --write, eslint

getValue
  src/utils/resumeConfig.js
Due: prettier --write, eslint

Section
  src/Edit/Drawer/Section.js
  src/Edit/Drawer/Section.module.css
  src/Edit/Drawer/index.js
Due: prettier --write, eslint, stylelint

style
  src/Edit/Preview/index.js
  src/Edit/Preview/index.module.css
Due: prettier --write, eslint, stylelint

Section
  src/Edit/Drawer/Section.js
  src/Edit/Drawer/Section.module.css
  src/Edit/Drawer/index.module.css
  src/icons/Add.js
Due: prettier --write, eslint, stylelint

getValue
  src/Edit/Drawer/Section.js
  src/Templates/T1/config.js
  src/utils/resumeConfig.js
Due: prettier --write, eslint

WrapComponent
  src/Edit/Drawer/Section.js
  src/Templates/T1/config.js
  src/hooks/useConfig.js
  src/utils/resumeConfig.js
Due: prettier --write, eslint
