Repository jesse3mh9a/resume: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --config ./.eslintrc-stage.json, stylelint

getControl
  src/Edit/Drawer/Section.js
  src/Templates/T1/config.js
Due: prettier --write, eslint --config ./.eslintrc-stage.json

fix:drawer scroll
  src/Edit/Container.js
  src/Edit/Drawer/index.js
  src/Edit/Drawer/index.module.css
  src/Edit/Preview/index.js
  src/Edit/Preview/index.module.css
  src/Edit/Provider.js
  src/Edit/index.module.css
Due: prettier --write, eslint --config ./.eslintrc-stage.json, stylelint

fix
  src/Edit/Drawer/Section.js
Due: prettier --write, eslint --config ./.eslintrc-stage.json

component instead of func
  src/Edit/Drawer/Section.js
Due: prettier --write, eslint --config ./.eslintrc-stage.json

config
  src/Edit/Container.js
  src/Edit/Drawer/Section.js
  src/Edit/Drawer/index.js
  src/Edit/FullScreen/index.js
  src/Edit/Preview/index.js
  src/Edit/index.module.css
  src/Provider.js
  src/Templates/T1/config.js
  src/hooks/useConfig.js
  src/utils/resumeConfig.js
Due: prettier --write, eslint --config ./.eslintrc-stage.json, stylelint

addCurrentConfigSection
  src/Edit/Drawer/Section.js
  src/Edit/Drawer/index.module.css
  src/Provider.js
  src/Templates/T1/config.js
  src/utils/genKey.js
  src/utils/resumeConfig.js
Due: prettier --write, eslint --config ./.eslintrc-stage.json, stylelint

removeCurrentConfigSection
  src/Edit/Drawer/Section.js
  src/Edit/Drawer/Section.module.css
  src/Edit/Drawer/index.module.css
  src/Provider.js
Due: prettier --write, eslint --config ./.eslintrc-stage.json, stylelint

multiple
  src/Edit/Drawer/Section.js
Due: prettier --write, eslint --config ./.eslintrc-stage.json

style
  src/Edit/Drawer/Section.module.css
Due: prettier --write, stylelint

unset value of select
  src/Edit/Drawer/Section.js
Due: prettier --write, eslint --config ./.eslintrc-stage.json

resume Config 2✨(#7)
  src/Edit/DataManage/index.js
  src/Edit/Drawer/Section.js
  src/Edit/Drawer/Section.module.css
  src/Edit/Drawer/index.js
  src/Edit/Drawer/index.module.css
  src/Edit/FullScreen/index.js
  src/Edit/Preview/index.js
  src/Edit/Provider.js
  src/Provider.js
  src/Templates/T1/config.js
  src/Templates/T1/index.js
  src/Templates/T1/index.module.css
  src/hooks/useConfig.js
  src/hooks/useConfigValueById.js
  src/icons/Add.js
  src/utils/genKey.js
  src/utils/resumeConfig.js
Due: prettier --write, eslint --config ./.eslintrc-stage.json, stylelint

Add job title and style
  src/Edit/Drawer/Section.js
  src/Edit/Drawer/index.module.css
  src/Edit/Experience/index.js
  src/Provider.js
  src/Templates/T1/index.js
  src/Templates/T1/index.module.css
  src/demo.js
  src/utils/request.js
Due: prettier --write, eslint --config ./.eslintrc-stage.json, stylelint

correct mistakes
  src/Edit/Experience/index.js
Due: prettier --write, eslint --config ./.eslintrc-stage.json

style
  src/Edit/Drawer/index.module.css
  src/index.css
Due: prettier --write, stylelint

stylelint
  src/index.css
Due: prettier --write, stylelint

stylelint 2
  src/index.css
Due: prettier --write, stylelint

createTheme
  src/Edit/Drawer/Section.js
  src/Edit/Drawer/Section.module.css
  src/Templates/T1/config.js
  src/Templates/T1/index.js
  src/components/BaseIcon/index.js
  src/createTheme.js
Due: prettier --write, eslint --config ./.eslintrc-stage.json, stylelint

feat: Sort order for section
  src/Edit/Education/index.js
  src/Edit/Education/index.module.css
  src/Edit/Experience/index.js
  src/Provider.js
  src/demo.js
  src/utils/simpleGenId.js
Due: prettier --write, eslint --config ./.eslintrc-stage.json, stylelint

month instead of date, hover feature
  src/Edit/Education/index.js
  src/Edit/Education/index.module.css
  src/Edit/Experience/index.js
  src/Edit/Preview/index.module.css
Due: prettier --write, eslint --config ./.eslintrc-stage.json, stylelint

🏃‍♀️improve: Add nonPersistGenKey
  src/Provider.js
  src/demo.js
  src/utils/genKey.js
  src/utils/resumeConfig.js
  src/utils/simpleGenId.js
Due: prettier --write, eslint --config ./.eslintrc-stage.json

show item index
  src/Edit/Education/index.js
  src/Edit/Education/index.module.css
  src/Edit/Experience/index.js
Due: prettier --write, eslint --config ./.eslintrc-stage.json, stylelint

update
  src/Templates/T1/config.js
Due: prettier --write, eslint --config ./.eslintrc-stage.json

defaultLoadable🌎
  src/Edit/DataManage/Loadable.js
  src/Edit/Education/Loadable.js
  src/Edit/Experience/Loadable.js
  src/Edit/PersonalDetails/Loadable.js
  src/Edit/Summary/Loadable.js
  src/Templates/T1/Loadable.js
  src/Templates/T2/Loadable.js
  src/components/Spin/index.js
  src/components/Spin/index.module.css
  src/defaultLoadable.js
Due: prettier --write, eslint --config ./.eslintrc-stage.json, stylelint

Add T2
  public/error.html
  src/Templates/T1/index.js
  src/Templates/T2/config.js
  src/Templates/T2/images/mountain.jpeg
  src/Templates/T2/index.js
  src/Templates/T2/index.module.css
  src/components/ErrorBoundary/index.js
  src/demo.js
  src/images/avatar-female.png
  src/images/avatar-male.png
  src/index.js
Due: prettier --write, eslint --config ./.eslintrc-stage.json, stylelint

update
  src/Templates/T2/index.js
  src/Templates/T2/index.module.css
Due: prettier --write, eslint --config ./.eslintrc-stage.json, stylelint

update
  src/Edit/FullScreen/index.module.css
  src/Templates/T2/index.js
  src/Templates/T2/index.module.css
Due: prettier --write, eslint --config ./.eslintrc-stage.json, stylelint

ResumeWrapper
  src/Edit/Container.js
  src/Edit/FullScreen/index.js
  src/Edit/Preview/index.js
  src/Edit/ResumeWrapper.js
Due: prettier --write, eslint --config ./.eslintrc-stage.json

style
  src/Templates/T2/index.module.css
Due: prettier --write, stylelint

printMode on, fontScale return 1
  src/hooks/useFrontScale.js
Due: prettier --write, eslint --config ./.eslintrc-stage.json

Add Box component
  src/components/Box/index.js
  src/components/Box/spaceStyle.js
Due: prettier --write, eslint --config ./.eslintrc-stage.json

max
  src/components/Box/spaceStyle.js
Due: prettier --write, eslint --config ./.eslintrc-stage.json

spacing x y coord
  src/components/Box/spaceStyle.js
Due: prettier --write, eslint --config ./.eslintrc-stage.json

add T2
  src/Edit/Drawer/index.js
  src/Edit/ResumeWrapper.js
  src/Edit/ResumeWrapper.module.css
  src/Provider.js
  src/Templates/T1/index.js
  src/Templates/T2/config.js
  src/Templates/T2/index.js
  src/Templates/T2/index.module.css
  src/components/ErrorBoundary/index.js
  src/createBox.js
  src/hooks/useSpace.js
  src/index.js
  src/utils/resumeConfig.js
Due: prettier --write, eslint --config ./.eslintrc-stage.json, stylelint

Add T2 (#8)
  public/error.html
  src/Edit/Container.js
  src/Edit/Drawer/index.js
  src/Edit/FullScreen/index.js
  src/Edit/FullScreen/index.module.css
  src/Edit/Preview/index.js
  src/Edit/ResumeWrapper.js
  src/Edit/ResumeWrapper.module.css
  src/Provider.js
  src/Templates/T1/index.js
  src/Templates/T2/config.js
  src/Templates/T2/images/mountain.jpeg
  src/Templates/T2/index.js
  src/Templates/T2/index.module.css
  src/components/Box/index.js
  src/components/Box/spaceStyle.js
  src/createBox.js
  src/demo.js
  src/hooks/useFrontScale.js
  src/hooks/useSpace.js
  src/images/avatar-female.png
  src/images/avatar-male.png
  src/utils/resumeConfig.js
Due: prettier --write, eslint --config ./.eslintrc-stage.json, stylelint

Delete error.html
  public/error.html
Due: none

🤝Categorize edu,exp... into list
  src/Container.js
  src/Edit/Education/index.js
  src/Edit/Experience/Loadable.js
  src/Edit/Experience/index.js
  src/Edit/List/Loadable.js
  src/Edit/List/constants.js
  src/Edit/List/index.js
  src/Edit/List/index.module.css
  src/Edit/Nav/index.js
  src/Provider.js
Due: prettier --write, eslint --config ./.eslintrc-stage.json, stylelint

demo
  src/Templates/T1/config.js
  src/Templates/T1/index.js
  src/demo.js
Due: prettier --write, eslint --config ./.eslintrc-stage.json

🤝Categorize edu,exp... into list (#9)
  src/Container.js
  src/Edit/Education/index.js
  src/Edit/Experience/Loadable.js
  src/Edit/Experience/index.js
  src/Edit/List/Loadable.js
  src/Edit/List/constants.js
  src/Edit/List/index.js
  src/Edit/List/index.module.css
  src/Edit/Nav/index.js
  src/Provider.js
  src/Templates/T1/config.js
  src/Templates/T1/index.js
  src/demo.js
Due: prettier --write, eslint --config ./.eslintrc-stage.json, stylelint

formatDate and control id
  src/Edit/List/index.js
  src/Templates/T1/index.js
  src/Templates/T2/index.js
  src/utils/formatDate.js
Due: prettier --write, eslint --config ./.eslintrc-stage.json

feat: duplicate resume data🤝
  src/Edit/DataManage/index.js
  src/Edit/DataManage/index.module.css
  src/Provider.js
Due: prettier --write, eslint --config ./.eslintrc-stage.json, stylelint

Path conditions:
  prettier --write: ((any of: *.md) or (any of: *.js)) or (any of: *.css)
  eslint --config ./.eslintrc-stage.json: any of: *.js
  stylelint: any of: *.css
